<p>Career Builder is designed to help you navigate the career planning process and find the most appropriate information resources whatever stage you're at.</p>
<p>It is designed as an interactive guide and should be used in conjunction with a range of our services and resources.</p>
<noscript>
	You will need to enable Javascript in order to use all of Career Builder's interactive features.
</noscript>
<div id='save-area'>
	<ol id="careerBuilder">
		<li class="section" role="section" id="who">
			<h2 class="template-no-page-contents toggle-parent closed" id="who-head">Self assessment<br />
				<span class="subtitle">What are my skills and values?</span>
			</h2>
			<div class="section-content hidden" id="who-content">
				<p>The first step to career planning is self-assessment. The better you know yourself, the easier it will be to find a fulfilling career. Self-assessment activities can include reflection, asking for feedback from people you know well, completing personality assessment tools or making 'lists' that can bring to light important information about your skills, abilities, values and motivations.</p>
				<p>Some people find self-reflection easy whereas others find it more difficult. The activities below should help you get started.</p>
				<ul>
					<li class="subsection" id="skills-sub">
						<h3 class="toggle-parent closed">Skills and abilities</h3>
						<div class="sub-content hidden" id="skills-sub-content">
							<p>Pick the skills and abilities which best describe you. Try to focus on just a few. You should be able to describe in detail how you have demonstrated each skill.</p>
							<p>If you're finding this difficult then think about what your friends and family would say were your greatest strengths.</p>
							<fieldset>
								<legend>Pick your skills</legend>
								<ul>
									<li>
										<input type="checkbox" name="skill" value="Team work" class="team-working" />
										<div class="check-option">
											<h4 class="check-label toggle-parent closed" id="team-working-head">Team work</h4>
											<div class="sub-content hidden" id="team-working-desc">
												Team work involves working confidently within a group, contributing your own ideas, taking a share of the responsibility, being assertive rather than passive or aggressive, accepting constructive criticism and being able to deliver constructive criticism to others.
											</div>
										</div>
									</li>
									<li>
										<input type="checkbox" name="skill" value="Spoken communication" class="spoken-communication" />
										<div class="check-option">
											<h4 class="check-label toggle-parent closed" id="spoken-communication-head">Spoken communication</h4>
											<div class="sub-content hidden" id="spoken-communication-desc">
												Effective spoken communication requires being able to express your ideas and views clearly, confidently and concisely in speech, tailoring your content and style to the audience and promoting free-flowing communication.
											</div>
										</div>
									</li>
									<li>
										<input type="checkbox" name="skill" value="Written communication" class="written-communication" />
										<div class="check-option">
											<h4 class="check-label toggle-parent closed" id="written-communication-head">Written communication</h4>
											<div class="sub-content hidden" id="written-communication-desc">
												Written communication involves expressing yourself clearly, using language with precision, constructing a logical argument, note taking, editing and summarising, and writing reports and essays.
											</div>
										</div>
									</li>
									<li>
										<input type="checkbox" name="skill" value="Leadership" class="leadership" />
										<div class="check-option">
											<h4 class="check-label toggle-parent closed" id="leadership-head">Leadership</h4>
											<div class="sub-content hidden" id="leadership-desc">
												Leadership involves being able to motivate and inspire others whilst taking responsibility for the direction and action of the team.
											</div>
										</div>
									</li>
									<li>
										<input type="checkbox" name="skill" value="Problem solving" class="problem-solving" />
										<div class="check-option">
											<h4 class="check-label toggle-parent closed" id="problem-solving-head">Problem solving</h4>
											<div class="sub-content hidden" id="problem-solving-desc">
												Problem solving involves the ability to understand a problem by breaking it down into smaller parts, and identifying the key issues, implications and solutions.
											</div>
										</div>
									</li>
									<li>
										<input type="checkbox" name="skill" value="Time management" class="time-management" />
										<div class="check-option">
											<h4 class="check-label toggle-parent closed" id="time-management-head">Time management</h4>
											<div class="sub-content hidden" id="time-management-desc">
												Time management involves prioritising, organising  your work schedule, list making, persevering to get a task done and avoiding procrastination.
											</div>
										</div>
									</li>
									<li>
										<input type="checkbox" name="skill" value="Commercial awareness" class="commercial-awareness" />
										<div class="check-option">
											<h4 class="check-label toggle-parent closed" id="commercial-awareness-head">Commercial awareness</h4>
											<div class="sub-content hidden" id="commercial-awareness-desc">
												Commercial awareness involves an interest in business and an understanding of the wider environment in which an organisation operates. It also includes knowledge of how businesses make money, what customers want, and what problems there are in particular areas of business.
											</div>
										</div>
									</li>
									<li>
										<input type="checkbox" name="skill" value="Researching" class="research-skills" />
										<div class="check-option">
											<h4 class="check-label toggle-parent closed">Researching</h4>
											<div class="sub-content hidden">
												Researching involves searching carefully, with a method, so that you can answer a question. It is wider than finding out a fact and more focused than reading widely around a subject.
											</div>
										</div>
									</li>
									<li>
										<input type="checkbox" name="skill" value="Decision making" class="decision-making" />
										<div class="check-option">
											<h4 class="check-label toggle-parent closed" id="decision-making-head">Decision making</h4>
											<div class="sub-content hidden" id="decision-making-desc">
												Decision making is the act of choosing between two or more actions. It involves the ability to weigh up different options, identify the pros and cons, and then take a decision based on the information available at the time.
											</div>
										</div>
									</li>
									<li>
										<input type="checkbox" name="skill" value="Numeracy" class="numeracy" />
										<div class="check-option">
											<h4 class="check-label toggle-parent closed" id="numeracy-head">Numeracy</h4>
											<div class="sub-content hidden" id="numeracy-desc">
												Numeracy involves the ability to use data and mathematics to support evidence or demonstrate a point.
											</div>
										</div>
									</li>
									<li>
										<input type="checkbox" name="skill" value="Initiative" class="initiative" />
										<div class="check-option">
											<h4 class="check-label toggle-parent closed" id="initiative-head">Taking initiative</h4>
											<div class="sub-content hidden" id="initiative-desc">
												Initiative involves having new ideas which can be made into a reality, including showing a strong personal drive and not waiting to be told to do things.
											</div>
										</div>
									</li>
									<li>
										<input type="checkbox" name="skill" value="Flexibility" class="flexibility" />
										<div class="check-option">
											<h4 class="check-label toggle-parent closed" id="flexibility-head">Flexibility</h4>
											<div class="sub-content hidden" id="flexibility-desc">
												Flexibility involves adapting successfully to changing situations and environments and thinking quickly to respond to sudden changes in circumstances.
											</div>
										</div>
									</li>
								</ul>
							</fieldset>
						</div>
					</li>
					<li class="subsection" id="pdam-sub">
						<h3 class="toggle-parent closed">Developing your skillset</h3>
						<div class="sub-content hidden" id="pdam-sub-content">
							<div id="missing-skills-advice">
								<p>Below are links to further information about the skills which you haven't selected. Follow the links to the skills pages on the LSE Personal Development Aide Memoire (PDAM) site and read about ways of gaining or improving these skills. You might already be able to demonstrate some of these abilities to an employer without realising it!</p>
								<p>Please note that spoken and written communication both link to the 'communication' PDAM page and time management, decision making, taking initiative and flexibility all link to 'self-management'.</p>
								<ul id="missing-skill-list">
									<li id="numeracy-pdam">
										<a href="http://www.lse.ac.uk/intranet/LSEServices/APD/personalDevelopmentAideMemoire/applicationOfNumeracySkills.aspx">Numeracy skills</a>
									</li>
									<li id="commercial-awareness-pdam">
										<a href="http://www.lse.ac.uk/intranet/LSEServices/APD/personalDevelopmentAideMemoire/commercialAwareness.aspx">Commercial awareness</a>
									</li>
									<li id="spoken-communication-pdam">
										<a href="http://www.lse.ac.uk/intranet/LSEServices/APD/personalDevelopmentAideMemoire/communication.aspx">Spoken communication</a>
									</li>
									<li id="written-communication-pdam">
										<a href="http://www.lse.ac.uk/intranet/LSEServices/APD/personalDevelopmentAideMemoire/communication.aspx">Written communication</a>
									</li>
									<li id="leadership-pdam">
										<a href="http://www.lse.ac.uk/intranet/LSEServices/APD/personalDevelopmentAideMemoire/leadership.aspx">Leadership</a>
									</li>
									<li id="problem-solving-pdam">
										<a href="http://www.lse.ac.uk/intranet/LSEServices/APD/personalDevelopmentAideMemoire/problemSolving.aspx">Problem solving</a>
									</li>
									<li id="time-management-pdam">
										<a href="http://www.lse.ac.uk/intranet/LSEServices/APD/personalDevelopmentAideMemoire/selfManagement.aspx">Time management</a>
									</li>
									<li id="decision-making-pdam">
										<a href="http://www.lse.ac.uk/intranet/LSEServices/APD/personalDevelopmentAideMemoire/selfManagement.aspx">Decision making</a>
									</li>
									<li id="initiative-pdam">
										<a href="http://www.lse.ac.uk/intranet/LSEServices/APD/personalDevelopmentAideMemoire/selfManagement.aspx">Taking initiative</a>
									</li>
									<li id="flexibility-pdam">
										<a href="http://www.lse.ac.uk/intranet/LSEServices/APD/personalDevelopmentAideMemoire/selfManagement.aspx">Flexibility</a>
									</li>
									<li id="team-working-pdam">
										<a href="http://www.lse.ac.uk/intranet/LSEServices/APD/personalDevelopmentAideMemoire/teamWorking.aspx">Team working</a>
									</li>
									<li id="research-skills-pdam">
										<a href="http://www.lse.ac.uk/intranet/LSEServices/APD/personalDevelopmentAideMemoire/specificSkills.aspx#DynamicJumpMenuManager_1_Anchor_4">Research</a>
									</li>
								</ul>
							</div>
							<div id="all-skills-advice" class="skill-value-advice css-hidden">
								<p>You've selected every skill from the list! The <a href="http://www.lse.ac.uk/intranet/LSEServices/APD/personalDevelopmentAideMemoire/Home.aspx">LSE Personal Development Aide Memoire (PDAM) site</a> mentions some skills which we haven't covered so take a look for more ideas for areas to develop.</p>
								<p>You should focus now on how to present the skills you have as effectively as possible to potential employers. If there are any which you don't feel you can talk about as strongly then uncheck those boxes in the 'skills and abilities' section and come back here and follow the advice.</p>
							</div>
						</div>
					</li>
					<li class="subsection" id="values-sub">
						<h3 class="toggle-parent closed">Values and motivations</h3>
						<div class="sub-content hidden" id="values-sub-content">
							<p>In order to have a happy, successful and fulfilling career, you need to consider your values as they are likely to be a key factor in deciding on a particular role or sector.</p>
							<p>Although completing the value sorting task below will not dictate the careers advice we provide, it is important that you keep your values and motivations in the forefront of your mind whilst progressing through the 'careers research', 'making a decision' and 'taking action' sections.</p>
							<div class="suggestion css-hidden" id="cs-suggestion">
								<p>Hopefully you found it useful to think about the priorities of your career values and motivations. You can download a summary of your choices at the end of this section.</p>
							</div>
							<div id="card-sorter" class="hidden">
								<!--templates-->
								<div id="templates">
									<div class="value-card" draggable="true" ondragstart="cs.pickUp(event);" 
									     onclick="cs.toggleSelect(event, this);" onkeyup="cs.toggleSelect(event, this);" tabindex="-1">
										<h3 class="value-name">Value name</h3>
										<p class="value-description">Value description</p>
									</div>
									<div class="col playing-col" ondrop="cs.playingAreaDrop(event, this);" 
									     ondragover="cs.allowDrop(event);" onclick="cs.clickDrop(event, this);" onkeyup="cs.clickDrop(event, this);">
										<h2 class="importance-level template-no-page-contents">Importance level</h2>
									</div>
									<ul class="value-list">
										<li class="value">
											<h4 class="title">Status</h4>
											<p class="description">
												Having high standing and respect from others.
											</p>
										</li>
										<li class="value">
											<h4 class="title">Challenge</h4>
											<p class="description">
												Enjoy consistently performing tasks that are difficult.
											</p>
										</li>
										<li class="value">
											<h4 class="title">Helping others</h4>
											<p class="description">
												Helping people in a direct way, providing assistance to individuals or groups.
											</p>
										</li>
										<li class="value">
											<h4 class="title">Using creativity</h4>
											<p class="description">
												Using your own ideas, being imaginative and innovative.
											</p>
										</li>
										<li class="value">
											<h4 class="title">Variety</h4>
											<p class="description">
												Work is varied with a broad range of tasks.
											</p>
										</li>
										<li class="value">
											<h4 class="title">Continual learning</h4>
											<p class="description">
												Developing and learning new skills throughout your career.
											</p>
										</li>
										<li class="value">
											<h4 class="title">Security</h4>
											<p class="description">
												A high probability that you will remain employed.
											</p>
										</li>
										<li class="value">
											<h4 class="title">Working with others</h4>
											<p class="description">
												Collaborating in a team to achieve a desired goal or outcome.
											</p>
										</li>
										<li class="value">
											<h4 class="title">Wealth</h4>
											<p class="description">
												Profit, gain, making a lot of money.
											</p>
										</li>
										<li class="value">
											<h4 class="title">Benefiting society</h4>
											<p class="description">
												Contributing to the betterment of the world.
											</p>
										</li>
										<li class="value">
											<h4 class="title">Competition</h4>
											<p class="description">
												Testing your abilities against others, clear win/lose outcomes.
											</p>
										</li>
										<li class="value">
											<h4 class="title">Responsibility</h4>
											<p class="description">
												Being directly accountable for results.
											</p>
										</li>
										<li class="value">
											<h4 class="title">Advancement</h4>
											<p class="description">
												Moving forward in a career through promotions.
											</p>
										</li>
										<li class="value">
											<h4 class="title">Autonomy</h4>
											<p class="description">
												Working independently, without significant direction from others.
											</p>
										</li>
										<li class="value">
											<h4 class="title">Recognition</h4>
											<p class="description">
												Getting recognised for your work or contributions.
											</p>
										</li>
										<li class="value">
											<h4 class="title">Applying knowledge</h4>
											<p class="description">
												Understanding gained through study and experience.
											</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li class="subsection" id="summary-sub">
						<h3 class="toggle-parent closed">What next?</h3>
						<div class="sub-content hidden" id="summary-sub-content">
							<p>You have selected:</p>
							<table class="selection-summary" valign="top" cellspacing="0">
								<tr>
									<th><strong>Skills</strong></th>
									<th><strong>Values</strong></th>
								</tr>
								<tr valign="top">
									<td>
										<ul id="skills-summary"></ul>
									</td>
									<td>
										<ul id="values-summary"></ul>
									</td>
								</tr>
							</table>
							<div id="skills-values-suggestion" class="suggestion hidden">
								<h4>Self assessment tools</h4>
								<p>Now you have started thinking about your keys skills, values and motivations it may be helpful to look at this in more detail. LSE Careers has free access to the <a href="https://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/internal/exclusiveResources/ProfilingForSuccess.aspx" title="profiling for success">Profiling For Success 'Type Dynamics Indicator'</a> which looks at your preferences and style according to four dimensions of personality. It asks a series of questions about your skills and values, then produces a detailed report covering areas including your style of working, how others see you, your main assets and areas for development.</p>
								<h4>Department career events</h4>
								<p>Students in your department may have developed similar skills and abilities to you. Please check <a href="https://careers.lse.ac.uk/students/events" title="careers events">CareerHub</a> to see department events tailored for students on your course.</p>
								<h4>Teaching and Learning Centre (TLC)</h4>
								<p><a href="http://www.lse.ac.uk/intranet/LSEServices/TLC/Home.aspx" title="lse tlc">TLC</a> offers a variety of courses and sessions to complement your academic learning at LSE.</p>
								<h4>Career research</h4>
								<p>In light of discovering your skills and values we suggest you move onto <span class="trigger-link section2-trigger">section 2 &#45; careers research</span>. These stages of career planning are closely linked and you should consider sections 1 and 2 in conjunction with each other.</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</li>
		<li class="section" role="section" id="research">
			<h2 class="template-no-page-contents toggle-parent closed" id="research-head">Careers research<br />
			<span class="subtitle">What kinds of careers are out there?</span></h2>
			<div class="section-content hidden" id="research-content">
				<p>Careers research can be broken down into three areas:</p>
				<ul class="bulletlist">
					<li>understanding of job sectors/industries</li>
					<li>understanding of roles</li>
					<li>understanding of organisations/employers</li>
				</ul>
				<p>Once you have completed research into these areas you will be better prepared to create tailored applications and find roles which match your skills and values. You may need to make small compromises when initially embarking on a career.</p>
				<ul>
					<li class="subsection" id="sectors-sub">
						<h3 class="toggle-parent closed">Sectors</h3>
						<div class="sub-content hidden" id="sectors-sub-content">
							<fieldset>
								<legend>What is your understanding of the differences between employment sectors?</legend>
								<ul>
									<li class="check-option">
										<input class="question" type="radio" name="sectors" id="sectors-comprehensive-radio" value="comprehensive" />
										<label for="sectors-comprehensive-radio" class="block-label">Very good</label>
									</li>
									<li class="check-option">
										<input class="question" type="radio" name="sectors" id="sectors-general-radio" value="general" />
										<label for="sectors-general-radio" class="block-label">Ok &#45; I have a general awareness</label>
									</li>
									<li class="check-option">
										<input class="question" type="radio" name="sectors" id="sectors-limited-radio" value="limited" />
										<label for="sectors-limited-radio" class="block-label">Limited</label>
									</li>
								</ul>
							</fieldset>
							<div class="suggestion hidden" id="sectors-comprehensive">
								<h4 class="hidden">If you have a very good understanding of employment sectors...</h4>
								<h5>Meet employers</h5>
								<p>Take the next step and start networking with employers. The most suitable events to meet employers will be their <a href="https://careers.lse.ac.uk/students/events/search?eventType=1151">presentations</a> or <a href="https://careers.lse.ac.uk/students/events/search?eventType=1152">networking sessions</a>, which are also usually a part of our <a href="https://careers.lse.ac.uk/students/events/search?eventType=1153">panel events</a>.</p>
								<p>During term time look out for our Friday morning <a href="https://careers.lse.ac.uk/students/events/search?query=breakfast">breakfast events</a>, which are themed networking sessions with two or three employers.</p>
								<h5>Conduct information interviews</h5>
								<p>Set up information interviews with LSE alumni in the sector. You can contact alumni through <a href="http://linkedin.com" title="linkedin">LinkedIn</a> (see our advice about <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/CareerPlanningJobHunting/JobHunting/LinkedIn.aspx">using LinkedIn</a> if you're unsure) or with LSE's <a href="http://www.lse.ac.uk/study/meetLSE/emailAnAlum/home.aspx" title="email an lse alum">email an alum</a> service. </p>
								<p>During term time we also run a series of <a href="https://careers.lse.ac.uk/students/events/search?query=Meet+An+Alum">Meet An Alum sessions</a>. These are very small events where LSE alumni from different sectors meet with a few students to answer your specific questions about their role, sector or background.</p>
								<h5>Get experience</h5>
								<p>Try out different options and apply for work experience within your preferred sector(s). View internship, volunteering and part-time vacancies in a variety of industries on <a href="https://careers.lse.ac.uk/students/jobs" title="careerhub job search">CareerHub</a>.</p>
								<h5>Do some research online</h5>
								<p>Take a look at the <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/EmploymentSectors/Home.aspx" title="employment sectors">employment sectors</a> section of our website. You will find detailed information on the range of organisations within your chosen sector and links to specialist sites to help you locate work within these sectors.</p>
							</div>
							<div class="suggestion hidden" id="sectors-general">
								<h4 class="hidden">If you have a general understanding of employment sectors...</h4>
								<h5>Understand recruitment timelines</h5>
								<p>In some sectors, employers recruit well in advance (sometimes up to two years!) Don't miss out on applying for opportunities. View the LSE Careers <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/Internships/WorkExperienceSector.aspx" title="internships and work experience by sector">internship and work experience timescales</a>.</p>
								<h5>Do some research online</h5>
								<p>LSE Careers provides detailed information on <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/EmploymentSectors/Home.aspx" title="employment sectors">employment sectors</a> on our website. The site provides information on typical job roles, routes in and links to further resources.</p>
								<h5>Attend a careers fair</h5>
								<p>Once you have done some research, <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/CareersEvents/CareersFairs/Home.aspx" title="careers fairs">careers fairs</a> provide a good opportunity to start meeting employers face-to-face. At our sector specific fairs you can meet with a range of employers within one sector.</p>
								<h5>Meet employers</h5>
								<p>For the opportunity to meet with a wide range of employers in different settings, view our events programme on <a href="https://careers.lse.ac.uk/students/events" title="careers events">CareerHub</a>. Events that may be of interest include panel events and employer-led seminars.</p>
								<h5>Join a student society</h5>
								<p>Many <a href="http://www.lsesu.com/activities/societies/" title="lsesu societies">LSE societies</a> are sector specific and will provide more opportunities to meet with employers.</p>
								<h5>Volunteer</h5>
								<p>Volunteering helps to develop skills, give something back and gain experience of a sector whilst providing evidence of skills for your CV. You can view volunteer opportunities on <a href="https://careers.lse.ac.uk/students/jobs/search?typeofwork=1550" title="careerhub volunteer opportunity search">CareerHub</a> and further information and advice from the <a href="http://lse.ac.uk/volunteercentre" title="lse volunteer centre">LSE Volunteer Centre</a>.</p>
							</div>
							<div class="suggestion hidden" id="sectors-limited">
								<h4 class="hidden">If you have a limited understanding of employment sectors...</h4>
								<h5>Find out what sectors LSE graduates work in</h5>
								<p>It may help to think about the career options selected by alumni with similar subject backgrounds. The graduate destinations website has useful summaries for your <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/graduateDestinations/Department/Home.aspx" title="graduate destinations by department">department</a> and your <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/graduateDestinations/eGems/Home.aspx" title="graduate destinations by course">degree programme</a>.</p>
								<h5>Do some research online</h5>
								<p>You will find comprehensive information on the most popular LSE <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/EmploymentSectors/Home.aspx" title="employment sectors">employment sectors</a> on our website. The sector sites provide a good overview of what work is like within the sector including information on job roles, routes in and links to further resources.</p>
								<h5>Attend a panel event</h5>
								<p>Panel events and 'Careers in&hellip;' events involve a panel of speakers discussing all aspects of their careers. At these events you get an overview of a sector. They are ideal if you are starting to explore career options. View our events on <a href="https://careers.lse.ac.uk/students/events" title="careers events">CareerHub</a>.</p>
								<h5>Subscribe to the LSE Careers Blog</h5>
								<p>The <a href="http://blogs.lse.ac.uk/careers" title="LSE Careers blog">LSE Careers blog</a> is regularly updated with contributions from LSE careers consultants and guest bloggers. It's a useful resource to get quick and condensed information on a range of sectors.</p>
								<h5>Visit the LSE Careers resource centre</h5>
								<p>Pick up take away resources on sector areas and graduate employer directories. You are also able to loan books from the <a href="http://www.librarything.com/catalog/LSECareers" title="lse careers library catalogue">careers library</a>. You'll find the <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/AboutUs/ResourceCentre.aspx" title="lse careers resource centre">resource centre</a> on Floor 5 of the Saw Swee Hock Student Centre.</p>
								<h5>Explore general graduate career websites</h5>
								<p><a href="http://www.prospects.ac.uk/" title="prosepcts">Prospects</a> is a provider of information, advice and opportunities to students and graduates. The site has information on all the sectors, including sectors less popular with LSE students. The <a href="http://www.prospects.ac.uk/sectors.htm" title="prospects job sectors">job sectors</a> and <a href="http://www.prospects.ac.uk/options_with_your_subject.htm" title="prospects options with your subject">options with your subject</a> sections are good places to start.</p>
							</div>
						</div>
					</li>
					<li class="subsection" id="roles-sub">
						<h3 class="toggle-parent closed">Roles</h3>
						<div class="sub-content hidden" id="roles-sub-content">
							<fieldset>
								<legend>What is your understanding of different roles and their duties and responsibilities?</legend>
								<ul>
									<li class="check-option">
										<input class="question" type="radio" id="roles-comprehensive-radio" name="roles" value="comprehensive" />
										<label class="block-label" for="roles-comprehensive-radio">Very comprehensive</label>
									</li>
									<li class="check-option">
										<input class="question" type="radio" id="roles-general-radio" name="roles" value="general" />
										<label class="block-label" for="roles-general-radio">Ok &#45; I have a general awareness</label>
									</li>
									<li class="check-option">
										<input class="question" type="radio" id="roles-limited-radio" name="roles" value="limited" />
										<label class="block-label" for="roles-limited-radio">Limited</label>
									</li>
								</ul>
							</fieldset>
							<div class="suggestion hidden" id="roles-comprehensive">
								<h4 class="hidden">If you have a very good understanding of different job roles...</h4>
								<h5>Start researching specific employers</h5>
								<p>As you have a good understanding of the work involved, you should start to compile a short list of employers to apply to. Sending out 100 badly researched applications is not an effective application strategy. It is important to spread your risk &#45; the <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/EmploymentSectors/Home.aspx" title="employment sectors">employment sectors</a> section of the website will help you expand your search from the well known/large organisations (often very competitive) to the lesser known/smaller organisations (can be less competitive).</p>
								<h5>Contact LSE alumni</h5>
								<p>Speaking to LSE alumni working for a range of organisations can be helpful in expanding your list of possible employers and giving you a head start for the application and interview process. If conversations progress well you may even find work experience off the back of it! To set up informational interviews contact LSE alumni through <a href="http://linkedin.com" title="linkedin">LinkedIn</a> (see our advice about <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/CareerPlanningJobHunting/JobHunting/LinkedIn.aspx">using LinkedIn</a> if you're unsure) or with LSE's <a href="http://www.lse.ac.uk/study/meetLSE/emailAnAlum/home.aspx" title="email an lse alum">email an alum</a> service.</p>
								<p>During term time we also run a series of <a href="https://careers.lse.ac.uk/students/events/search?query=Meet+An+Alum">Meet An Alum sessions</a>. These are very small events where LSE alumni from different sectors meet with a few students to answer your specific questions about their role, sector or background.</p>
								<h5>Get some experience</h5>
								<p>If you are finding it difficult to choose between several different roles, you could start trialling the roles you are interested in. To find relevant work experience, view internship, volunteering and part-time vacancies on <a href="https://careers.lse.ac.uk/students/jobs" title="careerhub opportunity search">CareerHub</a>.</p>
							</div>
							<div class="suggestion hidden" id="roles-general">
								<h4 class="hidden">If you have a general understanding of different job roles...</h4>
								<h5>Do some research online</h5>
								<p>It would be useful to expand your knowledge on what roles involve. The LSE <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/EmploymentSectors/Home.aspx" title="employment sectors">employment sectors</a> section of the website includes information about a range of roles available within each sector.</p>
								<h5>Meet employers</h5>
								<p>You are probably ready to start meeting with employers to find out more about their roles. For the opportunity to meet with a wide range of employers in different settings, view our employer events programme on <a href="https://careers.lse.ac.uk/students/events" title="careers events">CareerHub</a>. Useful events to attend at this stage would be employer presentations and employer-led seminars.</p>
								<p>During term time look out for our Friday morning <a href="https://careers.lse.ac.uk/students/events/search?query=breakfast">breakfast events</a>, which are themed networking sessions with two or three employers.</p>
								<h5>Get some experience</h5>
								<p>Reading about roles is helpful but getting real life experience is important to see if you like the work in practice. The <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/Internships/Home.aspx">internships and work experience</a> section of the LSE website provides information on selecting and securing an internship. You can also browse work experience opportunities on <a href="https://careers.lse.ac.uk/students/jobs" title="careerhub opportunity search">CareerHub</a>.</p>
								<h5>Join a student society</h5>
								<p>Career focused <a href="http://www.lsesu.com/activities/societies/" title="lsesu societies">societies</a> may provide additional opportunities to meet with employers in an informal setting. Use these opportunities to find out more about the roles on offer. Joining societies can also demonstrate a real interest in a sector and usually there are opportunities to take on positions of responsibility, all of which is attractive to employers.</p>
							</div>
							<div class="suggestion hidden" id="roles-limited">
								<h4 class="hidden">If you have a limited understanding of different job roles...</h4>
								<h5>Find out what roles LSE graduates are doing</h5>
								<p>It may help to think about the roles that alumni with similar subject backgrounds have selected. The graduate destinations website has useful summaries for your <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/graduateDestinations/Department/Home.aspx" title="graduate destinations by department">department</a> and your <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/graduateDestinations/eGems/Home.aspx" title="graduate destinations by course">degree programme</a>.</p>
								<h5>Do some research online</h5>
								<p>It is important to understand the difference between employment sectors and the roles within them. For example, you may want to work for a particular sector but you are unlikely to enjoy every role that sector offers. Alternatively you may decide that the typical activities related to a role is what is important and you would be happy to do this role within any sector. The resources on the <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/EmploymentSectors/Home.aspx" title="employment sectors">employment sectors</a> section of our website provide information on roles and the typical activities involved.</p>
								<h5>Attend a panel event</h5>
								<p>Panel events and 'Careers in&hellip;' events involve a panel of speakers discussing all aspects of their careers. Forums give you an overview of a range of roles within a sector. They are ideal if you are starting to explore career options as you can hear about the activities people do in their daily jobs without being forced to ask questions. View our events on <a href="https://careers.lse.ac.uk/students/events" title="careers events">CareerHub</a>.</p>
								<h5>Attend a careers fair</h5>
								<p><a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/CareersEvents/CareersFairs/Home.aspx" title="careers fairs">Careers fairs</a> provide a good opportunity to start meeting employers face to face. Employers usually bring representatives from a range of roles so it's an ideal opportunity to find out more about their day to day work and the type of projects they are involved in.</p>
								<h5>Target Jobs Careers Report</h5>
								<p>The <a href="http://targetjobs.co.uk/careers-report" title="Target Jobs Careers Report">Target Jobs Careers Report</a> uses questionnaires and psychometric tests to explore your interests, strengths, personality and abilities. The report then matches you to possible roles to explore further.</p>
								<h5>Explore general graduate career websites</h5>
								<p><a href="http://www.prospects.ac.uk/types_of_jobs.htm" title="prospects types of jobs">Prospects</a> and <a href="http://targetjobs.co.uk/careers-advice/job-descriptions" title="targetjobs job descriptions">TargetJobs</a> list detailed role descriptions including typical work activities, employers within the sector, salary and conditions, entry requirements, career development and related jobs.</p>
							</div>
						</div>
					</li>
					<li class="subsection" id="employers-sub">
						<h3 class="toggle-parent closed">Employers</h3>
						<div class="sub-content hidden" id="employers-sub-content">
							<fieldset>
								<legend>Do you understand the importance of researching an employer or organisation thoroughly before applying in order to increase your chances of a successful application?</legend>	
								<ul>
									<li class="check-option">
										<input class="question" type="radio" id="employers-yes-radio" name="employers" value="yes" />
										<label class="block-label" for="employers-yes-radio">Yes, I thoroughly research each employer/organisation before submitting an application</label>
									</li>
									<li class="check-option">
										<input class="question" type="radio" id="employers-maybe-radio" name="employers" value="maybe" />
										<label class="block-label" for="employers-maybe-radio">Most of the time, I try to research each employer/organisation before I submit an application but I don't always have the time</label>
									</li>
									<li class="check-option">
										<input class="question" type="radio" id="employers-no-radio" name="employers" value="no" />
										<label class="block-label" for="employers-no-radio">No, I rarely find time to research an employer/organisation thoroughly before submitting at application</label>
									</li>
								</ul>
							</fieldset>
							<div class="suggestion hidden" id="employers-yes">
								<h4 class="hidden">If you always thoroughly research employers you're interested in...</h4>
								<h5>Start making a decision</h5>
								<p>Hopefully all of your research has helped you to decide which sectors, roles and employers are most appealing to you. However if you are finding this challenging then move on to <span class="trigger-link section3-trigger">section 3 - Making a decision</span>.</p>
								<h5>Tailor your application</h5>
								<p>Tailoring your applications is one of the best ways to ensure you stand out against the competition. Make sure that your research is demonstrated in your application. For advice on creating well tailored applications review the <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/CVCoverApps/Home.aspx" title="cvs cover letters and applications">CVs, cover letters and applications</a> section of the website.</p>
							</div>
							<div class="suggestion hidden" id="employers-maybe">
								<h4 class="hidden">If you sometimes research employers you are interested in...</h4>
								<h5>Give yourself time</h5>
								<p>Try to start early and don't wait for the deadlines. The research you conduct on an employer at the application stage is vital and may determine whether you are selected for interview. We understand that research takes time but the research you complete now will not go to waste &#45; it all helps to build your understanding of a sector.</p>
								<h5>Attend a careers seminar</h5>
								<p>For advice on tailoring your application to a certain employer, book to attend a CV, cover letter or application seminar delivered by LSE careers consultants or employers. Check for the next available session in the events section of <a href="https://careers.lse.ac.uk/students/events" title="careers events">CareerHub</a>.</p>
								<h5>Meet employers</h5>
								<p>Try to meet with employers you are interested in prior to submitting an application. If you find some useful information this can help differentiate your application from the rest of the competition. You can see when your chosen employers are holding events on <a href="https://careers.lse.ac.uk/students/events" title="careers events">CareerHub</a>.</p>
								<p>During term time look out for our Friday morning <a href="https://careers.lse.ac.uk/students/events/search?query=breakfast">breakfast events</a>, which are themed networking sessions with two or three employers.</p>
								<h5>Contact alumni</h5>
								<p>You can also set up information interviews with LSE alumni within the organisation. You can contact alumni through <a href="http://linkedin.com" title="linkedin">LinkedIn</a> (see our advice about <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/CareerPlanningJobHunting/JobHunting/LinkedIn.aspx">using LinkedIn</a> if you're unsure) or with LSE's <a href="http://www.lse.ac.uk/study/meetLSE/emailAnAlum/home.aspx" title="email an lse alum">email an alum</a> service.</p>
								<p>During term time we also run a series of <a href="https://careers.lse.ac.uk/students/events/search?query=Meet+An+Alum">Meet An Alum sessions</a>. These are very small events where LSE alumni from different sectors meet with a few students to answer your specific questions about their role, sector or background.</p>
							</div>
							<div class="suggestion hidden" id="employers-no">
								<h4 class="hidden">If you rarely research employers you're interested in...</h4>
								<p>Doing employer research prior to making applications is essential. If you have not tailored your CV and applications to the employers you're applying to, you are unlikely to be successful in your job search.</p>
								<h5>Put yourself in the employers' shoes</h5>
								<p>If you were hiring someone, it is more likely you would pick someone who had spent time researching you, your working style and your preferences over someone who had put no thought into it.</p>
								<h5>Do some research online</h5>
								<p>Start by looking at the <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/EmploymentSectors/Home.aspx" title="employment sectors">employment sectors</a> section of our website. You will find information on the range of employers, from large to small scale. For further ideas on how to target and research these employers look at the <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/CareerPlanningJobHunting/CareerResearch.aspx" title="career research">career research</a> section of our website. To get a real understanding of an employer you will need to use a variety of sources.</p>
								<h5>Attend a careers seminar</h5>
								<p>For advice on tailoring your application to a certain employer, book to attend a CV, cover letter or application seminar delivered by LSE careers consultants or employers. Check for the next available session in the events section of <a href="https://careers.lse.ac.uk/students/events" title="careers events">CareerHub</a>.</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</li>
		<li class="section" role="section" id="decision">
			<h2 class="template-no-page-contents toggle-parent closed" id="decision-head">Making a decision<br />
			<span class="subtitle">What career options are best for me?</span></h2>
			<div class="section-content hidden" id="decision-content">
				<p>Decision making plays a key role in career planning and having too many choices will confuse you and slow you down. We all approach decision making in different ways. Some people favour following their instincts, some take a 'pot luck' approach, and a fortunate few are lucky enough to have always known what they want to do!</p>
				<p>In our experience, action occurs quickest when people recognise barriers to decision making which can often result from their own attitude rather than external factors.</p>
				<ul>
					<li class="subsection" id="forme-sub">
						<h3 class="toggle-parent closed">Do I need to use this section?</h3>
						<div class="sub-content hidden" id="forme-sub-content">
							<p>Lots of people find it easy to make decisions. From your research and reflection in sections 1 and 2 you might already have a really clear idea of what role, industry or employer you want to focus on.</p>
							<p>If you're not finding decision making difficult then you can skip this section. However you might still find the further support and advice useful.</p>
							<p>If you are finding it difficult to assess your options then continue to the barriers to decision making section below.</p>
						</div>
					</li>
					<li class="subsection" id="barriers-sub">
						<h3 class="toggle-parent closed">Barriers to effective decision making</h3>
						<div class="sub-content hidden" id="barriers-sub-content">
							<p>The following exercise will help you to reflect on what may be preventing you moving forward with your career decision making. The statements below are commonly cited reasons why LSE students find it difficult to take the next step. This isn't an exhaustive list so please come and talk to us if there are other reasons making it difficult for you to plan your career.</p>
							<p>Read through the following statements and indicate all the constraints that you feel apply to you:</p>
							<fieldset>
								<legend>Common barriers to career decision making</legend>
								<ul>
									<li class="check-option">
										<input type="checkbox" id="barrier-1" name="barrier" value="Nothing seems just right for me" class="perfect-job compromise" />
										<label for="barrier-1" class="block-label">Nothing seems just right for me</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-2" name="barrier" value="I don't know enough about the job market" class="perfect-job wrong-decision" />
										<label for="barrier-2" class="block-label">I don't know enough about the job market</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-3" name="barrier" value="There are too many things I would like to do" class="wrong-decision compromise" />
										<label for="barrier-3" class="block-label">There are too many things I would like to do</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-4" name="barrier" value="There are too many options" class="wrong-decision" />
										<label for="barrier-4" class="block-label">There are too many options</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-5" name="barrier" value="I do not feel ready to make decisions" class="opt-out" />
										<label for="barrier-5" class="block-label">I do not feel ready to make decisions</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-6" name="barrier" value="I worry about taking risks" class="wrong-decision confidence" />
										<label for="barrier-6" class="block-label">I worry about taking risks</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-7" name="barrier" value="It all seems so final" class="wrong-decision" />
										<label for="barrier-7" class="block-label">It all seems so final</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-8" name="barrier" value="How do I know if something will be right if I have not tried it?" class="wrong-decision" />
										<label for="barrier-8" class="block-label">How do I know if something will be right if I have not tried it?</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-9" name="barrier" value="I want to be told what to do" class="people-think confidence" />
										<label for="barrier-9" class="block-label">I want to be told what to do</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-10" name="barrier" value="I want time out to travel" class="opt-out" />
										<label for="barrier-10" class="block-label">I want time out to travel</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-11" name="barrier" value="My parents/partner/personal tutor would not approve" class="people-think" />
										<label for="barrier-11" class="block-label">My parents/partner/personal tutor would not approve</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-12" name="barrier" value="None of my friends are planning to do these kinds of jobs" class="people-think" />
										<label for="barrier-12" class="block-label">None of my friends are planning to do these kinds of jobs</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-13" name="barrier" value="My peers are so much further ahead than me with their career planning" class="opt-out confidence" />
										<label for="barrier-13" class="block-label">My peers are so much further ahead than me with their career planning</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-14" name="barrier" value="LSE graduates do not do the kind of things which interest me" class="perfect-job compromise" />
										<label for="barrier-14" class="block-label">LSE graduates do not do the kind of things which interest me</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-15" name="barrier" value="I have too many debts/financial commitments to proceed with my chosen career" class="compromise opt-out" />
										<label for="barrier-15" class="block-label">I have too many debts/financial commitments</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-16" name="barrier" value="I worry about having to retrain/complete further study" class="compromise" />
										<label for="barrier-16" class="block-label">I worry about having to retrain/complete further study</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-17" name="barrier" value="I lack the relevant qualifications" class="compromise confidence" />
										<label for="barrier-17" class="block-label">I lack the relevant qualifications</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-18" name="barrier" value="Nothing I want to do is available where I want to live" class="perfect-job compromise" />
										<label for="barrier-18" class="block-label">Nothing I want to do is available where I want to live</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-19" name="barrier" value="I have work permit/visa issues" class="compromise opt-out" />
										<label for="barrier-19" class="block-label">I have work permit/visa issues</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-20" name="barrier" value="I lack confidence selling myself" class="confidence" />
										<label for="barrier-20" class="block-label">I lack confidence selling myself</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-21" name="barrier" value="I only want to work abroad" class="perfect-job compromise" />
										<label for="barrier-21" class="block-label">I only want to work abroad </label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-22" name="barrier" value="I just want to use my languages" class="perfect-job compromise" />
										<label for="barrier-22" class="block-label">I just want to use my languages</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-23" name="barrier" value="I just want a good job that looks impressive on my CV" class="people-think" />
										<label for="barrier-23" class="block-label">I just want a good job that looks impressive on my CV</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-24" name="barrier" value="I have no proper work experience - only voluntary work" class="confidence" />
										<label for="barrier-24" class="block-label">I have no work experience other than voluntary work</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-25" name="barrier" value="I have a disability which I believe may impact on my choice of career" class="confidence disability" />
										<label for="barrier-25" class="block-label">I have a disability which I believe may impact on my choice of career</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-26" name="barrier" value="I am too old/young" class="confidence" />
										<label for="barrier-26" class="block-label">I am too old/young</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-27" name="barrier" value="I am overqualified/under qualified" class="confidence" />
										<label for="barrier-27" class="block-label">I am overqualified/under qualified</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-28" name="barrier" value="My experience is all in one sector/industry" class="wrong-decision confidence" />
										<label for="barrier-28" class="block-label">My experience is all in one sector/industry</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-29" name="barrier" value="I don't interview well" class="confidence" />
										<label for="barrier-29" class="block-label">I don't interview well</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-30" name="barrier" value="I'm afraid of rejection" class="opt-out confidence" />
										<label for="barrier-30" class="block-label">I'm afraid of rejection</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-31" name="barrier" value="My job search has not been successful so far" class="opt-out" />
										<label for="barrier-31" class="block-label">My job search has not been successful so far</label>
									</li>

									<li class="check-option">
										<input type="checkbox" id="barrier-32" name="barrier" value="None" class="none" />
										<label for="barrier-32" class="block-label">None of these apply to me!</label>
									</li>
								</ul>
							</fieldset>
						</div>
					</li>
					<li class="subsection" id="review-sub">
						<h3 class="toggle-parent closed">Reviewing your responses</h3>
						<div class="sub-content hidden" id="review-sub-content">
							<div class="advice hidden 1" id="perfect-job">
								<h4>Looking for the perfect job? There are many jobs that will suit you.</h4>
								<div class="suggestion"> 
									<p>Remember that there isn't a single perfect career for you. There are usually a range of possibilities that would suit you. Looking for the perfect job can actually prevent you from trialling some really exciting opportunities. The perfect job rarely exists and your preferences and the nature of the job are likely to change over time. Don't make the mistake of passing up great work experience opportunities if the role does not match all of your criteria. You will find you have to compromise on some things; choosing a career is not an exact science.</p> 
									<p>If you are interested in working abroad you should view the <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/InternationalCareers/Home.aspx" title="international careers">international careers</a> section of our website.</p>
								</div>
							</div>
							<div class="advice hidden 2" id="wrong-decision">
								<h4>Trialling career options now will help you in the future</h4>
								<div class="suggestion">
									<p>Remember that the career choice you make now is not for life! Most LSE graduates will make several career changes throughout their working lives. If the first role you do does not work out, then you will have a better understanding of what is important to you when you make the next choice. Focus on a few ideas at a time.</p>
									<p>Remember that you can always review and adapt your plans and goals as they develop and take shape. Why not use your time at university to try out a variety of roles so you can get a flavour of the work involved? You can find a list of work placements, part time work and internships currently advertised on <a href="https://careers.lse.ac.uk/students/jobs" title="careerhub opportunity search">CareerHub</a>.</p>
								</div>
							</div>
							<div class="advice hidden 3" id="compromise">
								<h4>Compromise is important in effective decision making</h4>
								<div class="suggestion">
									<p>If one particular factor, like job location or using languages, has a major priority in your choice of career, you may have to compromise on some other factors to help you get started. For example, you may have to take a job which is not in your chosen sector, in order to make use of your languages in the first instance.</p>
									<p>Alternatively, in the short term you may have to compromise on your main deciding factor in career choice to enable you to realise your ambition longer term. For example, if your main priority is to live in London, but you also want to work in international development, you may have to gain experience in the field first, to enable you to move back to London at a later stage.</p>
									<p>If you are interested in working abroad you should view the <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/InternationalCareers/Home.aspx" title="international careers">international careers</a> section of our website.</p>
								</div>
							</div>
							<div class="advice hidden 4" id="people-think">
								<h4>Happiness and success in a career revolve around <em>your</em> choices</h4>
								<div class="suggestion">
									<p>If you are concerned about what other people think then you need to assess how important these influences are for you. Is it important for you to work in a similar sector to your friends?</p>
									<p>In career discussions we commonly hear students admitting to applying for certain sectors or roles as many of their friends or class mates were also applying. You have to be genuinely interested in a role to actually enjoy the work. Happiness and success in your career is personal and not related to what your friends are doing.</p>
									<p>More significant can be the influences of parents or partners. You need to be honest with yourself and with them about how important their views are.</p>
								</div>
							</div>
							<div class="advice hidden 5" id="opt-out">
								<h4>It's important to take control of your situation</h4>
								<div class="suggestion">
									<p>It often feels easier to put off making the big decisions. Even if you are planning on looking for a job following your exams there are still small things you can be doing whilst at university to make the process easier when you finish. For example you could try out a role of interest by arranging a week's work shadowing or you could take up a position of responsibility within a society or club. This will help you to identify areas of career interest and develop your skills now.</p>
									<p>If you plan to travel make sure you know what your first steps will be when you return. The sooner you start thinking about it, the more likely you'll be able to avoid being overwhelmed with career thoughts after your trip.</p>
									<p>If you are interested in working abroad you should view the <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/InternationalCareers/Home.aspx" title="international careers">international careers</a> section of our website.</p>
								</div>
							</div>
							<div class="advice hidden 6" id="confidence">
								<h4>Build your confidence &#45; you have a lot to offer an employer!</h4>
								<div class="suggestion">
									<p>If you lack confidence in yourself, try to be realistic. Remember you will graduate from a globally respected university with a range of transferable academic skills and personal qualities. Review the skills audit from <span class="trigger-link section1-trigger">section 1 &#45; Self assessment</span> and refer back to your <a href="http://www.lse.ac.uk/intranet/LSEServices/APD/personalDevelopmentAideMemoire/Home.aspx" title="Personal Development Aide Memoire">Personal Development Aide Memoire</a> to gain a clearer understanding of what you have already engaged in.</p>
									<p><a href="http://lse.ac.uk/volunteercentre" title="lse volunteer centre">Voluntary work</a> is valuable as it can help you to develop skills and may even help you identify a career path. Most careers can be achieved through gaining a range of work experience &#45; it's about finding the right experience to get you there!</p>
									<p>If you feel confidence issues are preventing you from moving forward, the <a href="http://www.lse.ac.uk/intranet/students/supportServices/healthSafetyWellbeing/adviceCounselling/studentCounsellingService/Home.aspx"title="student counselling service">student counselling service</a> can support you with any personal factors which might be affecting your career decisions.</p>
								</div>
							</div>
							<div class="advice hidden 7" id="disability">
								<h4>Careers support for students with disabilities</h4>
								<div class="suggestion">
									<p>If you feel a disability is preventing you from moving forward, please view our <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/Disability/Home.aspx" title="students with disabilities">students with disabilities</a> site or arrange an appointment with Viki Chinn, our specialist careers consultant for students with disabilities. Email <a href="mailto:careers.disability@lse.ac.uk">careers.disability@lse.ac.uk</a> or <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/AboutUs/contact_us.aspx" title="Contact lse careers">contact LSE Careers</a> to make an appointment.</p>
								</div>
							</div>
							<div class="advice hidden 8" id="none">
								<h4>You said: <em>None of these apply to me!</em></h4>
								<p>This isn't an exhaustive list of external factors so there's bound to be some situations we haven't covered. Please look in the next section for further support and advice on career decision making.</p>
							</div>
						</div>
					</li>
					<li class="subsection" id="further-sub">
						<h3 class="toggle-parent closed">Further support and advice</h3>
						<div class="sub-content hidden" id="further-sub-content">
							<div class="suggestion">
								<h4>LSE website</h4>
								<p>LSE Careers has some more information and advice on <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/CareerPlanningJobHunting/Choosing.aspx" title="choosing a career">choosing a career</a> on our website.</p>
								<h4>Mindtools</h4>
								<p><a href="http://www.mindtools.com/pages/main/newMN_TED.htm" title="mindtools decision making techniques">Mindtools</a> has useful resources which can help you to recognise how effectively you make decisions.</p>
								<h4>Student counselling</h4>
								<p>The <a href="http://www.lse.ac.uk/intranet/students/supportServices/healthSafetyWellbeing/adviceCounselling/studentCounsellingService/Home.aspx"title="student counselling service">student counselling service</a> can also support you with any personal factors which might be affecting your career decisions.</p>
								<h4>Careers discussions</h4>
								<p>If you're still having difficulty making a decision, <a href="https://careers.lse.ac.uk/students/appointments/#/topic/10" title="book a careers discussion">book a careers discussion</a> with one of our careers consultants here. We can talk through strategies to help you arrive at a decision you're comfortable with.</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</li>
		<!--
		<li class="section" role="section" id="searching">
			<h2 class="template-no-page-contents toggle-parent closed" id="searching-head">Finding opportunities<br />
			<span class="subtitle">How can I find a job that I want?</span></h2>
			<div class="section-content hidden" id="searching-content">
				<p>Introduction to the job hunting section.</p>
				<ul>
					<li class="subsection" id="online-sub">
						<h3 class="toggle-parent closed">Finding jobs online</h3>
						<div class="sub-content hidden" id="online-sub-content">
						</div>
					</li>
				</ul>
			</div>
		</li>
		-->
		<li class="section" role="section" id="achieving">
			<h2 class="template-no-page-contents toggle-parent closed" id="achieving-head">Taking action<br />
			<span class="subtitle">How can I get a job that I want?</span></h2>
			<div class="section-content hidden" id="achieving-content">
				<p>This section is designed to help you maximise your chances of success during the process of applying for jobs and preparing for interviews and assessment centres. It is designed to help you utilise your time with LSE Careers efficiently.</p>
				<p>To ensure you get the most out of our service we would advise you to read and answer the following questions prior to booking an appointment.</p>
				<ul>
					<li class="subsection" id="cv-sub">
						<h3 class="toggle-parent closed">CV and cover letter support</h3>
						<div class="sub-content hidden" id="cv-sub-content">
							<fieldset>
								<legend>Have you read <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/CVCoverApps/CVCoverLetterGuide.pdf">how to write CVs and cover letters</a> [pdf] and put the advice into practice where appropriate?</legend>
								<ul>
									<li class="check-option">
										<input class="question" type="radio" id="cv-completely-radio" name="cv" value="completely" />
										<label class="block-label" for="cv-completely-radio">Yes, I have read and put into practice the advice in the booklet and I would like one final check with a careers consultant</label>
									</li>
									<li class="check-option">
										<input class="question" type="radio" id="cv-partly-radio" name="cv" value="partly" />
										<label class="block-label" for="cv-partly-radio">Yes, I have looked at it but I have not adapted my CV/cover letter following the advice</label>
									</li>
									<li class="check-option">
										<input class="question" type="radio" id="cv-no-radio" name="cv" value="no" />
										<label class="block-label" for="cv-no-radio">No</label>
									</li>
								</ul>
							</fieldset>
							<div class="suggestion hidden" id="cv-completely">
								<h4 class="hidden">If you have read and put into practice the advice in our CV and cover letter guide...</h4>
								<p>Book a CV or cover letter discussion appointment through <a href="https://careers.lse.ac.uk/students/appointments/#/topic/5" title="book a CV/cover letter appointment">CareerHub</a>.</p>
							</div>
							<div class="suggestion hidden" id="cv-partly">
								<h4 class="hidden">If you have not adapted your CV or cover letter based on the advice in our guide...</h4>
								<h5>Check again!</h5>
								<p>Where appropriate, implement some of the suggestions from the <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/CVCoverApps/CVCoverLetterGuide.pdf" title="how to write cvs and cover letters">how to write CVs and cover letters</a> [pdf] booklet. You could use the checklist as a guide.</p>
								<h5>Attend a careers seminar</h5>
								<p>Book to attend a CV or cover letter seminar delivered by LSE careers consultants or employers. Check for the next available session in the events section of <a href="https://careers.lse.ac.uk/students/events" title="careers events">CareerHub</a>.</p>
							</div>
							<div class="suggestion hidden" id="cv-no">
								<h4 class="hidden">If you haven't read our CV and cover letter guide...</h4>
								<h5>Do some research online</h5>
								<p>View the <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/CVCoverApps/Home.aspx" title="cvs cover letters and applications">CVs, cover letters and applications</a> section of our website.</p>
								<p>To make the most efficient use of your time with a careers consultant it is advisable to read the CV and cover letter booklet and implement some its suggestions. The booklet is available on our <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/CVCoverApps/CVCoverLetterGuide.pdf" title="how to write cvs and cover letters">website</a> [pdf] and in our <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/AboutUs/ResourceCentre.aspx" title="lse careers resource centre">resource centre</a>.</p>
								<h5>Attend a careers seminar</h5>
								<p>Book to attend a CV or cover letter seminar delivered by LSE careers consultants or employers. Check for the next available session in the events section of <a href="https://careers.lse.ac.uk/students/events" title="careers events">CareerHub</a>.</p>
							</div>
						</div>
					</li>
					<li class="subsection" id="application-sub">
						<h3 class="toggle-parent closed">Application form support</h3>
						<div class="sub-content hidden" id="application-sub-content">
							<fieldset>
								<legend>Have you read <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/CVCoverApps/Applicationforms/ApplicationFormsGuide.pdf">how to complete application forms</a> [pdf] and put the advice into practice where appropriate?</legend>
								<ul>
									<li class="check-option">
										<input class="question" type="radio" id="application-completely-radio" name="application" value="completely" />
										<label class="block-label" for="application-completely-radio">Yes, I have taken account of the advice in the booklet and I would like one final check with a careers consultant</label>
									</li>
									<li class="check-option">
										<input class="question" type="radio" id="application-partly-radio" name="application" value="partly" />
										<label class="block-label" for="application-partly-radio">Yes, I have looked at it but I have not adapted my application(s) following the advice</label>
									</li>
									<li class="check-option">
										<input class="question" type="radio" id="application-no-radio" name="application" value="no" />
										<label class="block-label" for="application-no-radio">No</label>
									</li>
								</ul>
							</fieldset>
							<div class="suggestion hidden" id="application-completely">
								<h4 class="hidden">If you have read and put into practice the advice in our application forms guide...</h4>
								<p>Book a careers discussion appointment through <a href="https://careers.lse.ac.uk/students/appointments/#/topic/1" title="book an application form appointment">CareerHub</a>.</p>
							</div>
							<div class="suggestion hidden" id="application-partly">
								<h4 class="hidden">If you have not adapted your application based on the advice in our guide...</h4>
								<h5>Check again!</h5>
								<p>Where appropriate, implement some of the suggestions from the <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/CVCoverApps/Applicationforms/ApplicationFormsGuide.pdf" title="How to complete application forms">how to complete application forms</a> [pdf] booklet. You could use the checklist as a guide.</p>
								<h5>Attend a careers seminar</h5>
								<p>Book to attend an application forms seminar delivered by LSE careers consultants or employers. Check for the next available session in the events section of <a href="https://careers.lse.ac.uk/students/events/search?eventType=697" title="careers seminars">CareerHub</a>.</p>
							</div>
							<div class="suggestion hidden" id="application-no">
								<h4 class="hidden">If you haven't read our application forms guide...</h4>
								<h5>Do some research online</h5>
								<p>View the <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/CVCoverApps/Applicationforms/Home.aspx" title="application forms">application forms</a> section of our website.</p>
								<p>To make the most efficient use of your time with a careers consultant it is advisable to read the <em>How to complete applications forms</em> booklet and implement some of the suggestions. The booklet is available on our <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/CVCoverApps/Applicationforms/ApplicationFormsGuide.pdf" title="How to complete application forms">website</a> [pdf] and in our <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/AboutUs/ResourceCentre.aspx" title="lse careers resource centre">resource centre</a>.</p>
								<h5>Attend a careers seminar</h5>
								<p>Book to attend a seminar on how to write effective application forms delivered by LSE careers consultants or employers. Check for the next available session in the events section of <a href="https://careers.lse.ac.uk/students/events/search?eventType=697" title="careers seminars">CareerHub</a>.</p>
							</div>
						</div>
					</li>
					<li class="subsection" id="interview-sub">
						<h3 class="toggle-parent closed">Interview support</h3>
						<div class="sub-content hidden" id="interview-sub-content">
							<fieldset>
								<legend>Do you have an interview approaching for a job, internship, academic course or voluntary position?</legend>
								<ul>
									<li class="check-option">
										<input class="question" type="radio" id="interview-yes-radio" name="interview" value="yes" />
										<label class="block-label" for="interview-yes-radio">Yes</label>
									</li>
									<li class="check-option">
										<input class="question" type="radio" id="interview-maybe-radio" name="interview" value="maybe" />
										<label class="block-label" for="interview-maybe-radio">No, but I'm currently applying and could get called for an interview at any time</label>
									</li>
									<li class="check-option">
										<input class="question" type="radio" id="interview-no-radio" name="interview" value="no" />
										<label class="block-label" for="interview-no-radio">No, I have not yet applied for a job/internship</label>
									</li>
								</ul>
							</fieldset>
							<div class="suggestion hidden" id="interview-yes">
								<h4 class="hidden">If you have an interview coming up...</h4>
								<h5>Do some research online</h5>
								<p>View the <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/IntsAssessPsych/Interviews/Home.aspx" title="interviews">interviews</a> section of our website for interview advice and resources. Have a look at the <span class="trigger-link section2-trigger">career research</span> section of Career Builder for advice about researching the employer or organisation that you are interviewing with.</p>
								<h5>InterviewStream</h5>
								<p>Try <a href="https://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/internal/exclusiveResources/InterviewStream.aspx" title="InterviewStream">InterviewStream</a> - an online database which includes motivational, competency, strength based, case study, technical and sector specific questions. You are also able to record your interview and watch yourself back to assess how you think you performed.</p>
								<h5>Attend a careers seminar</h5>
								<p>Book to attend a seminar on how to perform well at interviews delivered by LSE careers consultants or employers. Check for the next available session in the events section of <a href="https://careers.lse.ac.uk/students/events/search?eventType=697" title="careers seminars">CareerHub</a>.</p>
								<h5>Book a practice interview</h5>
								<p>Book a practice interview appointment with a careers consultant. You will need to complete a <a href="https://careers.lse.ac.uk/Form.chpx?id=63" title="practice interview booking form">practice interview booking form</a> on CareerHub to book an appointment.</p>
							</div>
							<div class="suggestion hidden" id="interview-maybe">
								<h4 class="hidden">If you are currently applying for jobs or internships...</h4>
								<h5>Start some research online</h5>
								<p>As you may get called for an interview at any time, view the <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/IntsAssessPsych/Interviews/Home.aspx" title="interviews">interviews</a> section of our website.</p>
								<h5>Use InterviewStream to start practising</h5>
								<p>If you are keen to practice, try <a href="https://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/internal/exclusiveResources/InterviewStream.aspx" title="InterviewStream">InterviewStream</a> - an online database which includes motivational, competency, strength based, case study, technical and sector specific questions. You are also able to record your interview and watch yourself back to assess how you think you performed.</p>
								<h5>Attend a careers seminar</h5>
								<p>Book to attend a seminar on how to perform well at interviews delivered by LSE careers consultants or employers. Check for the next available session in the events section of <a href="https://careers.lse.ac.uk/students/events/search?eventType=697" title="careers seminars">CareerHub</a>.</p>
							</div>
							<div class="suggestion hidden" id="interview-no">
								<h4 class="hidden">If you are not currently applying for jobs or internships...</h4>
								<h5>Complete Career Builder</h5>
								<p>Look at the <span class="trigger-link section1-trigger">self assessment</span> and <span class="trigger-link section2-trigger">careers research</span> sections of Career Builder. This should help you discover what is important to you in a career and help you plan your strategy to find interesting roles.</p>
								<h5>Attend a careers seminar</h5>
								<p>We have a range of careers seminars designed to help you develop a range of job hunting skills. Book to attend a career seminar delivered by LSE careers consultants or employers. Check for a suitable sessions in the events section of <a href="https://careers.lse.ac.uk/students/events/search?eventType=697" title="careers seminars">CareerHub</a>.</p>
								<h5>Attend a careers event</h5>
								<p>We have a range of employer events to provide you with opportunities to meet with employers and find out about a range of careers. Book to attend a career event delivered by LSE careers consultants or employers. Check for a suitable session in the events section of <a href="https://careers.lse.ac.uk/students/events" title="careers events">CareerHub</a>.</p>
							</div>
						</div>
					</li>
					<li class="subsection" id="assessment-sub">
						<h3 class="toggle-parent closed">Assessment centre support</h3>
						<div class="sub-content hidden" id="assessment-sub-content">
							<fieldset>
								<legend>Do you have an assessment centre approaching for a full-time job or internship?</legend>
								<ul>
									<li class="check-option">
										<input class="question" type="radio" id="assessment-yes-radio" name="assessment" value="yes" />
										<label class="block-label" for="assessment-yes-radio">Yes</label>
									</li>
									<li class="check-option">
										<input class="question" type="radio" id="assessment-maybe-radio" name="assessment" value="maybe" />
										<label class="block-label" for="assessment-maybe-radio">No, but I'm applying and I could get called for an assessment centre in the near future.</label>
									</li>
									<li class="check-option">
										<input class="question" type="radio" id="assessment-no-radio" name="assessment" value="no" />
										<label class="block-label" for="assessment-no-radio">No I have not yet applied for anything.</label>
									</li>
								</ul>
							</fieldset>
							<div class="suggestion hidden" id="assessment-yes">
								<h4 class="hidden">If you have an assessment centre coming up...</h4>
								<h5>Do some research online</h5>
								<p>View the <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/IntsAssessPsych/AssessmentCentres/Home.aspx" title="assessment centres">assessment centres</a> and <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/IntsAssessPsych/Psychometrics/Home.aspx" title="psychometric tests">psychometric tests</a> sections of our website.</p>
								<h5>Attend a careers seminar</h5>
								<p>Book to attend an assessment centre seminar delivered by LSE careers consultants or employers. Check for the next available session in the events section of <a href="https://careers.lse.ac.uk/students/events/search?eventType=697" title="careers seminars">CareerHub</a>. These cover a range of common assessment centre activities including:</p>
								<ul class="bulletlist">
									<li>group exercises</li>
									<li>presentation skills</li>
									<li>case studies</li>
									<li>psychometric tests</li>
								</ul>
								<h5>Psychometric tests</h5>
								<p>Practise <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/IntsAssessPsych/Psychometrics/Home.aspx" title="psychometric tests">psychometric tests</a> including numerical, verbal and diagrammatical tests on our website.</p>
							</div>
							<div class="suggestion hidden" id="assessment-maybe">
								<h4 class="hidden">If you are applying to jobs or internships which use assessment centres to select candidates...</h4>
								<h5>Start some research online</h5>
								<p>We recommend that you start research and preparation early. View the <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/IntsAssessPsych/AssessmentCentres/Home.aspx" title="assessment centres">assessment centres</a> and <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/IntsAssessPsych/Psychometrics/Home.aspx" title="psychometric tests">psychometric tests</a> sections of our website for some resources and advice.</p>
								<h5>Attend a careers seminar</h5>
								<p>Book to attend an assessment centre seminar delivered by LSE careers consultants or employers. Check for the next available session in the events section of <a href="https://careers.lse.ac.uk/students/events/search?eventType=697" title="careers seminars">CareerHub</a>. These cover a range of common assessment centre activities including:</p>
								<ul class="bulletlist">
									<li>group exercises</li>
									<li>presentation skills</li>
									<li>case studies</li>
									<li>psychometric tests</li>
								</ul>
								<h5>Psychometric tests</h5>
								<p>Practise <a href="http://www.lse.ac.uk/intranet/CareersAndVacancies/careersService/IntsAssessPsych/Psychometrics/Home.aspx" title="psychometric tests">psychometric tests</a> including numerical, verbal and diagrammatical tests on our website.</p>
							</div>
							<div class="suggestion hidden" id="assessment-no">
								<h4 class="hidden">If you are not currently applying for jobs or internships...</h4>
								<h5>Complete Career Builder</h5>
								<p>Look at the <span class="trigger-link section1-trigger">self assessment</span> and <span class="trigger-link section2-trigger">careers research</span> sections of Career Builder. They should help you discover what is important to you in a career and help you plan your strategy to find interesting roles.</p>
								<h5>Attend a careers seminar</h5>
								<p>We have a range of careers seminars designed to help you develop job hunting skills. Book to attend a career seminar delivered by LSE careers consultants or employers. Check for a suitable sessions in the events section of <a href="https://careers.lse.ac.uk/students/events/search?eventType=697" title="careers seminars">CareerHub</a>.</p>
								<h5>Attend a careers event</h5>
								<p>We have a range of employer events to provide you with opportunities to meet with employers and find out about a range of careers. Book to attend a career event delivered by LSE careers consultants or employers. Check for a suitable session in the events section of <a href="https://careers.lse.ac.uk/students/events" title="careers events">CareerHub</a>.</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</li>
	</ol>
</div>
	<div id="popups" style="display: none;">
		<div id="cs-container" class="popup" tabindex="0" aria-labelledby="cs-title" aria-describedby="instructions">
			<div id="cs-header">
				<h2 id="cs-title" class="template-no-page-contents">Prioritising your career values</h2>
			</div>
			<div id="control-panel">
				<div id="instructions">
					<p>Drag each value into a column, or select a value and then select a column to drop it there.</p>
					<p>You can have a maximum of <span class="drop-limit">0</span> values in each column - so you'll have to think carefully about what's important to you.</p>
					<p id="cs-close-desc">You can close and return to this activity anytime and your progress will be saved.</p>
				</div>
				<div id="deck-area">
					<div id="deck-container" class="drop-zone" ondrop="cs.deckDrop(event);" ondragover="cs.allowDrop(event);"></div>
					<p><span id="deck-count">0</span> values remaining</p>
				</div>
				<div id="button-container">
					<div class="button-sub-container" id="card-actions">
						<button id="skip-button" onclick="cs.skipCard();">Skip value</button>
						<button id="deck-button" onclick="cs.deckButtonAction();" disabled>Put on pile</button>
					</div>
					<div class="button-sub-container" id="game-actions"> 
						<button id="restart-button" onclick="cs.restart();">Restart</button>
						<button id="finish-button" disabled>Finish</button>
					</div>
				</div>
			</div>
			<div id="playing-area"> </div>
			<button id="close-cs" type='button' title="Close" aria-describedby="cs-close-desc" aria-label="Close this activity">&times;</button>
		</div>
		<div id="final-popup" class="popup section"  tabindex="-1" aria-label="You have finished Career Builder">
			<p><strong>You have now finished the last section of Career Builder but this is not the end of your career planning!</strong></p>
			<p>Career Builder can be picked up again at any time. The tool works best if you dip in and out or the various sections at different stages in your career planning. It's important to recognise that your feelings towards careers and your current situation will change even while you are at university.</p>
			<p>If you are having difficulty finding a role or getting a job please <a href="https://careers.lse.ac.uk/students/appointments" title="book a careers discussion">book a careers discussion</a> with a careers consultant to discuss this in more detail.</p>
		</div>
		<div id="save-popup" class="popup"  tabindex="-1" aria-label="You have saved your progress on CareerBuilder">
			<p><strong>Your progress on Career Builder has been saved.</strong></p>
			<p>If you return to this page using the same browser, you'll be able to pick up exactly where you left off.</p>
			<p>Use the 'Start again' button to clear your saved data and start Career Builder again.</p>
		</div>
	</div>